.collection-item {
  display: flex;
  justify-content: space-between;
}

.thumbs-up {
  margin-left: 5px;
}

.material-icons:hover {
  cursor: pointer;
  color: #4e4e4e;
}

.vote-box {
  display: flex;
  align-items: center;
}
